*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
*.*~
/.bundle
/vendor/bundle
api/log/*
api/tmp/*
api/db/*.sqlite3
api/public/system/*
api/coverage/
api/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*~
\#*#
.DS_Store
