<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="fr" />
    <meta name="robots" content="all,follow" />

    <meta name="author" lang="fr" content="All: AudioWire [www.eip.epitech.eu/2014/]; e-mail: contact@audiowire.co" />
    <meta name="copyright" lang="fr" content="AudioWire 2012-2013" />
     <link rel="stylesheet" media="screen,projection" type="text/css" href="/assets/main.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="/assets/main-msie.css" /><![endif]-->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="/assets/scheme.css" />
    <link rel="stylesheet" media="print" type="text/css" href="/assets/print.css" />
    <style type="text/css">
    #apDiv1 {
    position: absolute;
    left: 858px;
    top: 107px;
    width: 134px;
    height: 38px;
    z-index: 1;
}
    </style>
    <title>AudioWire | Home</title>
</head>

<body>
<div id="main">

    <!-- Header -->
    <div id="header">

        <!-- Your logo -->
        <h1 id="logo"><a href="/"><h2><span>Audio</span>Wire</h2></a></h1>
        <hr class="noscreen" />

        <!-- Your slogan -->
        <div id="slogan">&quot;Un logiciel qui vous connait!&quot;</div>
        <hr class="noscreen" />
        
        <!-- Hidden navigation -->
        <p class="noscreen noprint"><em>Quick links: <a href="#content">content</a>, <a href="#nav">navigation</a>.</em></p>
        <hr class="noscreen" />

  </div> <!-- /header -->

    <!-- Navigation -->
    <div id="nav">
    
        <ul class="box">
            <li><a href="/fr">Accueil</a></li> <!-- Active page (highlighted) -->
            <li><a href="/fr/project">Projet</a></li>
            <li><a href="/fr/about">L'équipe</a></li>
            <li id="nav-active"><a href="/fr/connect">Contact</a></li>
            <li><a href="/fr/login">Connexion</a></li>
        </ul>
        
    <hr class="noscreen" /> 
    </div> <!-- /nav -->

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">

        <!-- Content -->
      <div id="content">
        
            <h2 id="content-title">Contactez nous:</h2>
            
            <!-- Perex -->
            <div id="perex" class="box">
              <p>
                Contactez nous à l'aide des options suivantes.<br />
                Vous trouverez nos comptes twitter personnels 
                sur la page &quot;L'équipe&quot;!</p>
            
            </div> 
            <!-- /perex -->

            <hr class="noscreen" />
            
            <div id="content-in">
                
                <!-- 3 sections -->
              <div id="sections" class="box">

                    
                
                </div> <!-- /sections -->
                
                

                <!-- Table -->
              <table width="122%" align="left" class="nomb table-style01">
                    <tr>
                        <th height="473" "colspan="5" align="left" class="f-left"><div align="left">
                          <p>Aimez notre page Facebook afin d'avoir toutes les dernières informations!<br />
                            <a href="http://www.facebook.com/AudioWire.Project">www.facebook.com/AudioWire.project</a><br />
                            <br />
                            <br />
                          Suivez nous surTwitter :<br />
                          <a href="http://www.twitter.com/AudioWireTeam">www.twitter.com/AudioWireTeam</a><br />
                          </p>
                          <p>Et par mail à : <a href="mailto:contact@audiowire.co">contact@audiowire.co</a></p>
                        </div></th>
                    </tr>
              </table>
                
                <!-- Unorder list -->
                <ul class="ul-style01">
                    
              </ul>

            </div> <!-- /content-in -->
               
      </div> <!-- /content -->

        <hr class="noscreen" />

        <!-- Sidebar -->
        <div id="aside">

            <!-- News -->                    
            <h4 id="aside-title">Informations</h4>
            
            <div class="aside-in">
                <div class="aside-box">

                    <div id="apDiv1"><a href="/fr/contact"><img src="/assets/french_flag.gif" width="45" height="30" alt="lang_FR" /></a> <a href="/en/contact"><img src="/assets/flag-usa.gif" width="45" height="30" alt="lang_EN" /></a></div>
                
                </div> <!-- /aside-box -->
            </div> <!-- /aside-in -->
            
            <!-- Contact -->
            <h4 class="title">Contact</h4>

            <div class="aside-in">
                <div class="aside-box">

                    <address>
                        <strong>AudioWire</strong><br />
                        Nous vivons à Paris, FR<br />
                        <a href="mailto:contact@audiowire.co">contact@audiowire.co</a>
                    </address>

                </div> <!-- /aside-box -->
            </div> <!-- /aside-in -->
   
        </div> <!-- /aside -->
    
    </div> <!-- /cols -->
    <div id="cols-bottom"></div>

    <hr class="noscreen" />

    <div id="footer">
            
        <p class="f-right">&nbsp;</p>
        <center>
        <p>&copy;&nbsp;2012-2013 AudioWire</p>
		</center>
    </div> <!-- /footer -->

</div> <!-- /main -->

</body>
</html>
