<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="all,follow" />

    <meta name="author" lang="fr" content="All: AudioWire [www.eip.epitech.eu/2014/]; e-mail: contact@audiowire.co" />
    <meta name="copyright" lang="fr" content="AudioWire 2012-2013" />
     <link rel="stylesheet" media="screen,projection" type="text/css" href="/assets/main.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="/assets/main-msie.css" /><![endif]-->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="/assets/scheme.css" />
    <link rel="stylesheet" media="print" type="text/css" href="/assets/print.css" />
    <style type="text/css">
    #apDiv1 {
    position: absolute;
    left: 858px;
    top: 107px;
    width: 134px;
    height: 38px;
    z-index: 1;
}
    </style>
    <title>AudioWire | Home</title>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div id="header">

        <!-- Your logo -->
        <h1 id="logo"><a href="/"><h2><span>Audio</span>Wire</h2></a></h1>
        <hr class="noscreen" />        

        <!-- Your slogan -->
        <div id="slogan">&quot;Un logiciel qui vous connait!&quot;</div>
        <hr class="noscreen" />        
        
        <!-- Hidden navigation -->
        <p class="noscreen noprint"><em>Quick links: <a href="#content">content</a>, <a href="#nav">navigation</a>.</em></p>
        <hr class="noscreen" />

    </div> <!-- /header -->

    <!-- Navigation -->
    <div id="nav">
    
        <ul class="box">
            <li id="nav-active"><a href="#">Accueil</a></li> <!-- Active page (highlighted) -->
            <li><a href="/fr/project">Projet</a></li>
            <li><a href="/fr/about">L'équipe</a></li>
            <li><a href="/fr/contact">Contact</a></li>
            <li><a href="/fr/login">Connexion</a></li>
        </ul>
        
    <hr class="noscreen" /> 
    </div> <!-- /nav -->

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">

        <!-- Content -->
        <div id="content">
        
            <h2 id="content-title">Bienvenue sur notre site web!</h2>
            
            <!-- Perex -->
            <div id="perex" class="box">
            
                <p><img src="/assets/icon_group_big.png" width="150" height="113" alt="" class="f-left" />
                Vous êtes sur le site web d'Audiowire. Ici, vous trouverez toutes les informations liées à nôtre projet.<br />
N'hésitez pas à <a href="/fr/contact">nous contacter</a> si vous avez des question, nous serons heureux d'y repondre!</p>
            
            </div> <!-- /perex -->

            <hr class="noscreen" />
            
            <div id="content-in">
              <p><!-- 3 sections --></p>
              <table width="100%" border="0">
                <tr>
                  <td><em>AudioWire est un logiciel qui lit la plupart des formats audio.<br />
                  Le logiciel peut créer des playlists de musique adaptés aux goûts de l'utilisateur grâce à un algorithme d'intelligence artificielle.<br />
                  Vous pouvez également écouter votre musique sur plusieurs ordinateurs simultanément, idéal pour les fêtes!<br />
                  Le logiciel est également doté d'une dimension sociale qui permettra à l'utilisateur d'écouter de la musique avec ses amis, de partager des informations (listes de lecture, goûts, etc.) et bien sûr le chat.<br />
                  Le projet sera disponible sur Windows, Mac et Linux et dans quelques mois sur les plateformes mobiles! (Android et iOS)</em></td>
                </tr>
              </table>
              <p>&nbsp; </p>
              <div id="sections" class="box">

                  <!-- Section -->                
                  <div class="section">
                        <h3><a href="http://www.facebook.com/AudioWire.Project">Page Facebook</a></h3>
                        <p><a href="http://www.facebook.com/AudioWire.Project"><img src="/assets/facebook_logo_page.png" width="200" height="200" alt="" /></a></p>    
                        <div class="section-in">
                            <p>Regardez notre page Facebook pour obtenir les dernières informations.</p>
                        </div> <!-- /section-in -->
                        <p class="t-center">&nbsp;</p>
                    </div> <!-- /section -->
                    
                    <!-- Section -->
                    <div class="section margin">
                        <h3><a href="http://www.twitter.com/AudioWireTeam">Twitter</a></h3>
                        <p><a href="http://www.twitter.com/AudioWireTeam"><img src="/assets/twitter-icon.png" width="200" height="200" alt="" /></a></p>
                        <div class="section-in">
                            <p>Vous pouvez également nous suivre sur twitter!</p>
                        </div> <!-- /section-in -->
                        <p class="t-center">&nbsp;</p>
                    </div> <!-- /section -->
                    
                    <!-- Section -->
                    <div class="section fix">
                        <h3><a href="#">Blog</a></h3>
                        <p><a href="#"><img src="/assets/coming-soon-icon.png" width="200" height="200" alt="" /></a></p>
                        <div class="section-in">
                            <p>Le blog de développement sera bientôt disponnible!</p>
                        </div> <!-- /section-in -->
                        <p class="t-center">&nbsp;</p>
                    </div> <!-- /section -->
                
                </div> <!-- /sections -->
                
                <div id="sections-bottom"></div>

                <!-- Table -->
                <table class="nomb table-style01">
                    <tr>
                        <th colspan="6">&nbsp;</th>
                    </tr>
                </table>
                
                <!-- Unorder list -->
                <ul class="ul-style01">
                    
                </ul>

            </div> <!-- /content-in -->
               
        </div> <!-- /content -->

        <hr class="noscreen" />

        <!-- Sidebar -->
        <div id="aside">

            <!-- News -->                    
            <h4 id="aside-title">Informations</h4>
            
            <div class="aside-in">
                <div class="aside-box">

                    <dl id="news">
                        <dt><a href="#">Version Pre-release!</a></dt>
                        <dd><span class="date">18. 07.</span>Notre version Pre-release sera disponnible début Aout! Elle sera disponnible pour Windows, Mac et Linux!</dd>
                        
                        <dt><a href="#">Blog de développement</a></dt>
                        <dd><span class="date">23. 06.</span> Notre blog de développement sera bientôt disponnible!</dd>
                        
                        <dt><a href="#">New Website!</a></dt>
                        <dd><span class="date">20. 06.</span> Nous avons changé le site! Dites nous ce que vous en pensez grâce à la page Contact.</dd>
                    </dl>
                
                </div> <!-- /aside-box -->
            </div> <!-- /aside-in -->
            
            <!-- Contact -->
            <h4 class="title">Contact</h4>

            <div class="aside-in">
                <div class="aside-box">

                    <address>
                        <strong>AudioWire</strong><br />
                        Nous vivons à
                    </address>
                    <div id="apDiv1"><a href="/fr"><img src="/assets/french_flag.gif" width="45" height="30" alt="lang_FR" /></a> <a href="/en"><img src="/assets/flag-usa.gif" width="45" height="30" alt="lang_EN" /></a></div>
                    <address>
Paris, FR<br />
                        <a href="mailto:contact@audiowire.co">contact@audiowire.co</a>
                    </address>

                </div> <!-- /aside-box -->
            </div> <!-- /aside-in -->
   
        </div> <!-- /aside -->
    
    </div> <!-- /cols -->
    
    <div id="cols-bottom"></div>

    <hr class="noscreen" />

    <div id="footer">
            
        <p class="f-right">&nbsp;</p>
        <center>
        <p>&copy;&nbsp;2012-2013 AudioWire</p>
		</center>
    </div> <!-- /footer -->

</div> <!-- /main -->

</body>
</html>
