<div class="container" style="min-height:650px">
  <p style="text-align:center;font-size: 60px;font-weight:bold;color:#000;margin-top:20px;margin-bottom:50px;">Besoin d'aide ?</p>
  <div class="row">
    <div class="span4">
      <img src="/assets/archive.png" style="margin-left:auto;margin-right:auto;display:block;">
      <p style="font-size:25px;color:#000000;">Documentation</p>
      <p>Jetez un oeil à nos documentations pour les développeurs et utilisateurs</p>
      <a href="//github.com/Itaelle/AudioWire/tree/master/Documentation" style="font-size:20px;font-weight:bold">Voir les documentations</a>
    </div>
    <div class="span4">
      <img src="/assets/github_six_black-256.png" style="height:128px;margin-left:auto;margin-right:auto;display:block;">
      <p style="font-size:25px;color:#000000;">Voir les tickets sur Github</p>
      <a href="//github.com/Itaelle/AudioWire/issues"  style="font-size:20px;font-weight:bold">Voir les tickets</a>
    </div>
    <div class="span4">
      <img src="/assets/package_emailing.png" style="height:128px;margin-left:auto;margin-right:auto;display:block;">
      <p style="font-size:25px;color:#000000;">Envie de nous parler ?</p>
      <p>Vois pouvez nous contacter :</p>
      <ul>
  <li><a href="mailto:support@audiowire.co">Par email</a></li>
  <li><a href="//twitter.com/audiowire">Sur Twitter</a></li>
      </ul>
    </div>
  </div>
</div>
