<div class="container" style="min-height:650px">
  <p style="text-align:center;font-size: 60px;font-weight:bold;color:#000;margin-top:20px;margin-bottom:50px;">Need support?</p>
  <div class="row">
    <div class="span4">
      <img src="http://www.channelcompanies.com/wp-content/uploads/2013/09/archive.png" style="margin-left:auto;margin-right:auto;display:block;">
      <p style="font-size:25px;color:#000000;">Documentation</p>
      <p>Lorem ipsum bla blabla blablabla bla blblablabla</p>
      <a href="docs" style="font-size:20px;font-weight:bold">Show our docs</a>
    </div>
    <div class="span4">
      <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_six_black-256.png" style="height:128px;margin-left:auto;margin-right:auto;display:block;">
      <p style="font-size:25px;color:#000000;">Browse Issues on Github</p>
      <a href="https://github.com/Itaelle/AudioWire/issues"  style="font-size:20px;font-weight:bold">Issue on our github</a>
    </div>
    <div class="span4">
      <img src="http://cdn2.hubspot.net/hub/322787/file-398863572-png/images/icons/package_emailing.png" style="height:128px;margin-left:auto;margin-right:auto;display:block;">
      <p style="font-size:25px;color:#000000;">Need support quickly?</p>
      <p>You can contact us</p>
      <ul>
	<li><a mailto="support@audiowire.co">Email</a></li>
	<li><a href="https://twitter.com/audiowire">Twitter Support</a></li>
      </ul>
    </div>
  </div>
</div>
