<div class="container" style="min-height:800px">
  <br>
  <h2  style="text-align:center">CONDITIONS GENERALES D'UTILISATION</h2>


  <h4 style="text-align:center">REGLES GENERALES ET DEFINITIONS</h4><br><br>

  <p>En accord avec la licence BSD, vous pouvez modifier / redistribuer notre logiciels. Merci de lire la licence BSD reçu avec le logiciel ou visitez :<p>
    <a href="http://opensource.org/licenses/BSD-3-Clause">Licence BSD</a>
    
  <p>En téléchargeant notre logiciel, vous acceptez les conditions suivantes :</p>
  <ul>
    <li>Audiowire ne peut être tenu responsable pour tout dommage causé à votre ordinateur / smartphone en utilisant notre logiciel.</li>
    <li>Quand les utilisateurs choisissent de partager des fichiers avec leurs contacts, ils reconnaissent le fait que vos fichiers peuvent être soumis à des droits d'auteurs (copyrights). En fonction du pays, les utilisateurs peuvent être soumis à des lois qui empêchent le partage de fichiers. Les transferts de fichiers se sont de manière pair à pair (peer to peer) et les fichiers ne transitent pas par les serveurs d'Audiowire. Audiowire ne peut être tenu responsable des transferts de fichiers effectués grace à l'application.</li>
    <br>
    <p>Dernière mise à jour: 17/09/2013</p>
    <br>
    <p>Copyright © 2013-2014, AudioWire</p>
    <br>
    <p>Tous droits réservés.</p>
</div>
