<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="all,follow" />

    <meta name="author" lang="en" content="All: AudioWire [www.eip.epitech.eu/2014/]; e-mail: contact@audiowire.co" />
    <meta name="copyright" lang="en" content="AudioWire 2012-2013" />
     <link rel="stylesheet" media="screen,projection" type="text/css" href="/assets/main.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="/assets/main-msie.css" /><![endif]-->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="/assets/scheme.css" />
    <link rel="stylesheet" media="print" type="text/css" href="/assets/print.css" />
    <style type="text/css">
    #apDiv1 {
    position: absolute;
    left: 858px;
    top: 107px;
    width: 134px;
    height: 38px;
    z-index: 1;
}
    </style>
    <title>AudioWire | Home</title>
</head>

<body>
<div id="main">

    <!-- Header -->
    <div id="header">

        <!-- Your logo -->
        <h1 id="logo"><a href="/"><h2><span>Audio</span>Wire</h2></a></h1>
        <hr class="noscreen" />        

        <!-- Your slogan -->
        <div id="slogan">&quot;Software that Knows you!&quot;</div>
        <hr class="noscreen" />        
        
        <!-- Hidden navigation -->
        <p class="noscreen noprint"><em>Quick links: <a href="#content">content</a>, <a href="#nav">navigation</a>.</em></p>
        <hr class="noscreen" />

  </div> <!-- /header -->

    <!-- Navigation -->
    <div id="nav">
    
        <ul class="box">
            <li><a href="/en">Home</a></li> <!-- Active page (highlighted) -->
            <li><a href="/en/project">Project</a></li>
            <li id="nav-active"><a href="#">About us</a></li>
            <li><a href="/en/contact">Contact</a></li>
            <li><a href="/en/login">Login</a></li>
        </ul>
        
    <hr class="noscreen" /> 
    </div> <!-- /nav -->

    <!-- 2 columns (content + sidebar) -->
    <div id="cols" class="box">
      <div id="apDiv1"><a href="/en/about"><img src="/assets/french_flag.gif" width="45" height="30" alt="lang_FR" /></a> <a href="#"><img src="/assets/flag-usa.gif" width="45" height="30" alt="lang_EN" /></a></div>
      <!-- Content -->
      <div id="content">
        
            <h2 id="content-title">Our team</h2>
            
            <!-- Perex -->
            <div id="perex" class="box">
              <p>
                </p>
            
            </div> 
            <!-- /perex -->

            <hr class="noscreen" />
            
            <div id="content-in">
                
                <!-- 3 sections -->
              <div id="sections" class="box">

                    
                
                </div> <!-- /sections -->
                
                

                <!-- Table -->
              <table align="left" class="nomb table-style01">
                    <tr>
                        <th align="left" class="f-left"><div align="left">
                          <p>Want to know who we are ?<br />
                          </p>
                          <table width="100%" border="0">
                            <tr>
                              <td width="50%" height="202"><img src="/assets/TeamPictures/brunel_m.jpg" width="160" height="190" alt="Max" /></td>
                              <td width="50%"><p align="right">Hey, I'm Max the team leader.<br />
                                I'm the guy with the whip! Just kidding... Or am I ? :-)</p>
                                <p align="right"> <br />
                                  <br />
                                  &quot;Pop! Pop!&quot;<br />
                                  <br />
                                  <em>@_n0va</em> <br />
                              </p></td>
                            </tr>
                            <tr>
                              <td><p><em>@kol3ror</em></p></td>
                              <td><img src="/assets/TeamPictures/defran_h.jpg" width="160" height="190" alt="Hugo" /></td>
                            </tr>
                            <tr>
                              <td><img src="/assets/TeamPictures/feraud_g.jpg" width="160" height="190" alt="Guillaume" /></td>
                              <td><p>Hello I'm Guillaume (DeRoséSanJépé).<br />
                                I'm passionate about new technologies, computer graphics,and artificial intelligence.<br />
                                I dislike everything else (including you! ;) )
                              </p>
                              <p><em>@_meta42</em></p></td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td><img src="/assets/TeamPictures/meilha_v.jpg" width="160" height="190" alt="Vivien" /></td>
                            </tr>
                            <tr>
                              <td><img src="/assets/TeamPictures/pasqui_c.jpg" width="160" height="190" alt="Augustin" /></td>
                              <td><em>@Itaelles</em></td>
                            </tr>
                            <tr>
                              <td><em>Hey guys, I'm Stephane.<br />
                              I'm the designer and the developper of the AudioWire Interface.<br />
Don't forget that Experience is the mistress of fools !<br />
<br />
<br />
                              @Mystt3</em></td>
                              <td><img src="/assets/TeamPictures/rose_s.jpg" width="160" height="190" alt="Steph" /></td>
                            </tr>
                            <tr>
                              <td height="202"><img src="/assets/TeamPictures/xie_h.jpg" width="160" height="190" alt="Huai" /></td>
                              <td><p>Yo! I'm Huai, aka Keez.<br />
                                Chinese people will dominate the world some day, watch out!</p>
                                <p>&nbsp;</p>
                              <p><em>@Keez_90</em></p></td>
                            </tr>
                            <tr>
                              <td height="202">What’s up guys ?<br />
                              My name is Guillaume, I’m the developer of the streaming system within AudioWire.  I am also in charge of the design and the implementation of the mobile applications. You need music, right? I’ll send it to you wherever you are, you can count on it !<br />
                              @Junior</td>
                              <td><img src="/assets/TeamPictures/derive_g.jpg" width="160" height="190" alt="Derive_g" /></td>
                            </tr>
                          </table>
                          <p>&nbsp;</p>
                        </div></th>
                    </tr>
              </table>
                
                <!-- Unorder list -->
                <ul class="ul-style01">
                    
              </ul>

            </div> <!-- /content-in -->
               
      </div> <!-- /content -->

        <hr class="noscreen" />

        <!-- Sidebar -->
        <div id="aside">

            <!-- News -->                    
            <h4 id="aside-title">News</h4>
            
            <div class="aside-in">
                <div class="aside-box">

                    <dl id="news">
                        <dt><a href="#">Pre-release version!</a></dt>
                        <dd><span class="date">25. 06.</span>Our pre-release version will be available for download by the end of July. It will be available on Windows and Linux</dd>
                        
                        <dt><a href="#">Dev Blog Coming soon</a></dt>
                        <dd><span class="date">23. 06.</span> Our development blog will be available by mid-July. Stay tuned!</dd>
                        
                        <dt><a href="#">New Website!</a></dt>
                        <dd><span class="date">20. 06.</span> We've changed our website. Tell us if you like it on social platforms!</dd>
                    </dl>
                
                </div> <!-- /aside-box -->
            </div> <!-- /aside-in -->
            
            <!-- Contact -->
            <h4 class="title">Contact</h4>

            <div class="aside-in">
                <div class="aside-box">

                    <address>
                        <strong>AudioWire</strong><br />
                        We're from Paris, FR<br />
                        <a href="mailto:contact@audiowire.co">contact@audiowire.co</a>
                    </address>

                </div> <!-- /aside-box -->
            </div> <!-- /aside-in -->
   
        </div> <!-- /aside -->
    
    </div> <!-- /cols -->
    
  <div id="cols-bottom"></div>

    <hr class="noscreen" />

    <div id="footer">
            
        <p class="f-right">&nbsp;</p>
        <center>
        <p>&copy;&nbsp;2012-2013 AudioWire</p>
		</center>
    </div> <!-- /footer -->

</div> <!-- /main -->

</body>
</html>
