<div style="width:100%;background: url('http://pictopro.com/static/images/header-bg.png') center top no-repeat">
<div class="container" style="min-height:600px">
  <div class="row">
    <h1 class="dltitle">Download</h1>
    <p style="font-weight: bold">Disponible sur desktop, mobile et tablets</p>
  </div>
  
  <div class="row">
    <div class="span6">
    </div>
  </div>
  
  <div class="row">
    <div class="span8">
      <table class="tabledl table table-bordered">
	<th>nom</th>
	<th>plateform</th>
	<tr>
	  <td><a href="https://worldcraze.com">Bullshit from your awesome things on 64bitskik</a></td>
	  <td>Windows of course</td>
	</tr>
	<tr>
	  <td><a href="https://worldcraze.com">kik</a></td>
	  <td>lold</td>
	</tr>
	<tr>
	  <td><a href="https://worldcraze.com">kik</a></td>
	  <td>lold</td>
	</tr>
	<tr>
	  <td><a href="https://worldcraze.com">kik</a></td>
	  <td>lold</td>
	</tr>
      </table>
    </div>
    <div class="span4">
      <div class="row-fluid" style="margin-top:30px">
	<a href="STORE"><img class="offset2 span8" src="http://twisto.fr/photos/pictos/Disponible-sur-GooglePlay.jpg"></img></a>
	<a href="STORE"><img class="offset2 span8" src="http://twisto.fr/photos/actus/disponible-sur-app-store1.png"></img></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span">
      <a href="https://worldcraze.com"><img src="http://www.xgouchet.fr/images/fork_me_on_github.png" style="float:left;margin-bottom:20px;"/></a>
    </div>
    <div class="span">
      <p style="float:left;font-size: 30px;">Telecharger les <a href="worldcraze.com">sources</a></p>
    </div>
  </div>
</div>

</div>
