<div class="container" style="min-height:720px">
  <br>
  <h2  style="text-align:center">TERMS AND CONDITIONS</h2>


  <h4 style="text-align:center">GENERAL RULES AND DEFINITIONS</h4><br><br>

  <p>In accordance to the BSD License, you may change / redistribute our software. Please see the BSD license that you received with your copy of the software or go to :<p>
    <a href="http://opensource.org/licenses/BSD-3-Clause">BSD Licence</a>
    
  <p>By downloading our software you agree to the following conditions :</p>
  <ul>
    <li>AudioWire will in no way be held responsible for any damage that may come to your computer / device while using our software.</li>
    <li>While users may choose to share files with their contacts, they also acknowledge that said files might be copyrighted. Depending on the country, users might be subjected to laws that prevent file sharing. File transfers occurs on a P2P basis and DOES NOT transit through AudioWire's servers. AudioWire will not be held responsible for copyrighted materials transferring via the application.</li>
    <br>
    <p>Last updated: 17/09/2013</p>
    <br>
    <p>Copyright © 2013-2014, AudioWire</p>
    <br>
    <p>All rights reserved.</p>
</div>
