<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <p>Hi!</p>
    <p>
      <%= @user.first_name %> just added you to his friend list in Audiowire.<br>
	  Audiowire is an awesome music player. Go ahead, try it too! <br/>
    </p>
    <p>
    	To learn more about Audiowire, check out <a href="<%= @url %>">our website</a>!<br>
	    Have a great day!
	</p>
  </body>
</html>
