<footer class="footer-3">
    <div class="container">
        <div class="row v-center">
            <div class="span2">
                <div class="span2">
                    <a class="brand" href="/<%= @language %>">Audiowire</a>
                </div>
            </div>
            <div class="span7">
                <div class="span7">
                    <div class="additional-links">
                        Be sure to take a look to our <a href="/<%= @language %>/terms">Terms of Use</a>
                    </div>
                </div>
            </div>
            <div class="span3 logos">
                <a href="//www.facebook.com/Audiowire.project"><%= image_tag "FB-f-Logo__blue_50.png" %></a>
                <a href="//twitter.com/AudioWireTeam"><%= image_tag"Twitter_logo_blue.png" %>
            </div>
        </div>
    </div>
</footer>