<footer class="footer-3 footer">
    <div class="container">
        <div class="row v-center">
            <div class="span2">
                <div class="span2">
                    <a class="brand" href="/<%= @language %>">Audiowire</a>
                </div>
            </div>
            <div class="span7">
                <div class="span7">
                    <div class="additional-links">
                        <% if @language == "fr" %>Assurez vous de jeter un oeil à nos <a href="/fr/terms">Conditions D'utilisation</a>
                        <% elsif @language == "en" %>Make sure to take a look at our <a href="/en/terms">Terms of Use</a>
                        <% end %>
                        
                    </div>
                </div>
            </div>
            <div class="span3 logos">
                <a href="//www.facebook.com/Audiowire.project"><%= image_tag "FB-f-Logo__blue_50.png" %></a>
                <a href="//twitter.com/AudioWireTeam"><%= image_tag"Twitter_logo_blue.png" %>
            </div>
        </div>
    </div>
</footer>
